
#bdp_backgroundBorderPane {
    -fx-background-color: #010C1E;
}

.button {
    -fx-background-color: #75A6FA;
    -fx-background-radius: 12;
    -fx-text-fill: #010C1E;
}

.label {
    -fx-text-fill: #010C1E;
}

.button:hover {
    -fx-background-color: #22069D;
    -fx-text-fill: #D7E7FE;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-translate-y: 4;
}

#btn_reset:hover {
    -fx-background-color: #7935F8;
}

#txf_multipleTossesAmount {
    -fx-background-color: #75A6FA;
    -fx-background-radius: 12;
    -fx-text-fill: #010C1E;
}

#grp_statisticsGrid {
    -fx-background-color: #75A6FA;
    -fx-background-radius: 12;
}

#lbl_result {
    -fx-background-color: #7935F8;
    -fx-text-fill: #D7E7FE;
    -fx-background-radius: 12;
    -fx-font-size: 16;
    -fx-font-weight: bolder;
}

#pan_statisticsBackgroundPane {
    -fx-background-color: #22069D;
    -fx-background-radius: 12;
}

#lbl_coinLabel {
    -fx-text-fill: #010C1E;
}

#hbx_topButtonBar {
    -fx-spacing: 20;
}

#vbx_statisticsBox {
    -fx-spacing: 5;
}

.lbl_class_leftColumnLabels {
    -fx-padding: 10;
}

.lbl_class_rightColumnLabels {
    -fx-padding: 10;
}

#crl_coinCircle {
    -fx-fill:  #FFDF6F;
}

#stp_coinStackPane:pressed {
    -fx-translate-y: 10;
}

#vbx_centerVBox {
    -fx-spacing: 30;
}

#lbl_coinLabel {
    -fx-font-weight: bolder;
    -fx-font-size: 40;
}

#lbl_errorInvalidTossingAmount {
    -fx-text-fill: #F6252F;
}